* {
  margin-left: 1.5em;
}

a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: underline;
  padding:3px;
}

a:link{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}

a:visited{
    color: rgba(0, 0, 0, 0.6);
}

a:hover{
    background: linear-gradient(#eee, #eee);
    background-size: auto 4em;
    background-repeat: no-repeat;
    background-position: 0% 15px; 
    text-decoration: underline;
}

body {
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

h1 {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 0.9em
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 150%;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

ul {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

li {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
